body {
    background-color: rgba(0, 0, 0, 0.8);
	color: white; 
}

.container {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 40px; 
    background-color: rgba(0.5, 0.3, 0.1, 0.6); 
	color: white; 
}

.header-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    transform: scale(1.35);
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.post-details {
    flex-grow: 1;
}

.post-details h3 {
    margin: 0;
    font-size: 18px;
}

.post-details p {
    margin: 5px 0;
}

.post-details a {
    color: #ffdd57;
    text-decoration: none;
}

.post-details a:hover {
    text-decoration: underline;
}

.code-container {
    overflow-x: auto; 
    white-space: nowrap; 
    background-color: #222; 
    padding: 10px; 
    border-radius: 5px; 
}

pre {
    margin: 0; 
    color: white; 
}

.last-edited {
    color: rgba(136, 136, 136, 0.7); 
    font-size: 0.9em; 
    margin-top: 10px; 
    text-align: right; 
    display: block; 
}

.custom-hr {
    border: none;          
    height: 2px;         
    background-color: #ccc;
    margin: 20px 0;
}

		
		
		
		
